.auth {
  padding: 2em;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1.1rem;
  border: 1px solid #ccc;
}

form > *:focus {
  outline: none;
}

form > button {
  background-color: var(--action-color);
  font-weight: bold;
  color: #eee;
  text-transform: uppercase;
}

form > button:hover {
  background-color: #1f6d1d;
}

.auth-error {
  color: red;
}

.hide {
  display: none;
}

.auth-sub {
  margin-top: 2em;
  text-align: center;
}

.auth-sub a {
  text-decoration: none;
  color: var(--accent-primary);
}
