.react-select .react-select__control {
  border: none;
}

.add-deal form > * + * {
  margin: 1em auto;
  width: 90%;
}

.saved-status {
  color: green;
  text-align: center;
  border: none;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
