.details-header {
  padding: 0.5em;
}

.details-header .date {
  text-align: center;
}

.details-items {
  background-color: #eee;
  padding: 1em 0.8em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8em;
}

.details-item {
  background-color: #fff;
  padding: 0.4em;
  text-align: center;
}

.details-item * + * {
  padding-top: 0.4em;
}

.ins-type {
  font-size: 0.8rem;
}

.appl-id {
  font-size: 0.9rem;
}

.premium {
  font-weight: bold;
  color: var(--accent-primary);
}
