:root {
  --accent-primary: #42B5E8;
  --accent-secondary: #464A4A;
  --action-color: #45a144;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
